<header>
    <nav class="headerNav">
        <section id="headerSection">
            <a href="#aboutMe" id="headerButton">About Me</a>
            <a href="#projects" id="headerButton">Projects</a>
            <a href="#contact" id="headerButton">Contact</a>
        </section>
    </nav>
</header>
