<header>
    <div id="curtain"></div>
    <nav class="headerNav">
        <section id="headerSection">
            <a href="#aboutMe" class="headerText">About Me</a>
            <a href="#projects" class="headerText">Projects</a>
            <a href="#contact" class="headerText">Contact</a>
        </section>
    </nav>
    <div class="intro">
        <img id="photo" src="/img/portrait.png" alt="My photo">
        <h1 class="headerText">HELLO! I'M ALLYSON REYES</h1>
        <p class="headerText"> Full Stack Developer, specialized in C#</p>
        <a href="https://www.linkedin.com/in/allyson-reyes/">
            <img src="/img/linkedin-sign.png" alt="LinkedIn">
        </a>
        <a href="https://github.com/areyes986">
            <img src="/img/github.png" alt="GitHub">
        </a>
        <a href="mailto:areyes986@gmail.com?subject=subject text">
            <img src="/img/mail.png" alt="Email">
        </a>
    </div>
</header>