<header>
    <div id="curtain"></div>
    <nav class="headerNav">
        <section id="headerSection">
            <a href="#aboutMe" id="headerButton">About Me</a>
            <a href="#projects" id="headerButton">Projects</a>
            <a href="#contact" id="headerButton">Contact</a>
        </section>
    </nav>
    <div class="intro">
        <img id="photo" src="/img/placeholder.jpg" alt="My photo">
        <h1>Aloha! I'm Allyson Reyes</h1>
        <p>Full Stack Developer, specialized in C#</p>
        <a href="https://www.linkedin.com/in/allyson-reyes/">
            <img src="/img/linkedin-sign.png" alt="LinkedIn">
        </a>
        <a href="mailto:areyes986@gmail.com?subject=subject text">
            <img src="/img/mail.png" alt="Email">
        </a>
        <a href="https://github.com/areyes986">
            <img src="/img/github.png" alt="GitHub">
        </a>
    </div>
</header>